<footer>
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="footer-top">
                    <h3>ALASTER</h3>
                </div>
                <div class="row">
                    <div class="col-sm-4">
                        <div class="footer-box">
                            <h4>(Pages)</h4>
                            <ul>
                                <li><a href="/index.html">Home</a></li>
                                <li><a href="/index.html#project-sec">Projects</a></li>
                                <li><a href="/contact.html">Contact</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="footer-box">
                            <h4>(Utility Pages)</h4>
                            <ul>
                                <li><a href="/404.html">404</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="footer-box">
                            <h4>(Socials)</h4>
                            <ul>
                                <li><a href="mailto:alasteralfio@gmail.com">Email</a></li> 
                                <li><a href="https://www.linkedin.com/in/alaster-zheng-b36b99279/">LinkedIn</a></li>
                                <li><a href="https://github.com/alasteralfio">Github</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="back-top">
                    <a href="#">Back to Top</a>
                </div>
            </div>
        </div>
    </div>
</footer>
