<nav class="navbar navbar-expand-lg">
    <a class="navbar-brand mb-4" href="/index.html">ALASTER</a>
    <button
        class="navbar-toggler"
        type="button"
        data-bs-toggle="collapse"
        data-bs-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent"
        aria-expanded="false"
        aria-label="Toggle navigation"
    >
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse mb-4" id="navbarSupportedContent">
        <ul class="navbar-nav m-auto">
            <li class="nav-item">
                <a class="nav-link active" href="/index.html">Home</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/work.html">Development</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/work-design.html">Design</a>
            </li>
        </ul>
        <div class="header-right">
            <a href="/contact.html" class="talk-link">Let’s Talk</a>
        </div>
    </div>
</nav>
